*/.objs
*.o
*.d
.vscode
*/main
**/main
assignments/hw1/test
cpp-heapMemory/heap1
cpp-heapMemory/heap2
cpp-heapPuzzles/puzzle1
cpp-heapPuzzles/puzzle2
cpp-heapPuzzles/puzzle3
cpp-heapPuzzles/puzzle4
cpp-memory/addressOf
cpp-memory/foo
cpp-memory/puzzle
cpp-memory2/ex1/byPointer
cpp-memory2/ex1/byRef
cpp-memory2/ex1/byValue
cpp-memory2/ex2/byPointer
cpp-memory2/ex2/byRef
cpp-memory2/ex2/byValue
assignments/hw2/test
assignments/hw2/out-watermark.png
assignments/hw2/out-spotlight.png
assignments/hw2/out-illinify.png
assignments/hw2/out-grayscale.png
assignments/hw2/ImageTransform_submission.zip
assignments/hw2/ImageTransform
